<app-header></app-header>

<form action="">
  <h3>Cadastre-se para continuar</h3>

  <div class="form-group">
    <label for="fullName">Nome completo</label>
    <input id="fullName" type="text" />
  </div>

  <div class="form-group">
    <label for="email">E-mail</label>
    <input id="email" type="email" />
  </div>

  <div class="form-group">
    <label for="birthday">Data de nascimento</label>
    <input id="birthday" type="date" />
  </div>

  <div class="form-group">
    <label for="password">Senha</label>
    <input id="password" type="password" />
    <input type="checkbox" /> Visualizar senha
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirme sua senha</label>
    <input id="confirmPassword" type="password" />
  </div>

  <button>Continuar</button>

  <p>Já possui conta? <a href="#">Entrar</a></p>
</form>
