header {
  position: absolute;
  width: 100%;
  height: 120px;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  max-height: 120;
  height: 100%;
}

.navigation .list {
  display: flex;
  gap: 32px;
  font-weight: 600;
  font-size: 20px;
}

.navigation .list li a {
  color: var(--body-font-color);
  transition: all 0.3s ease;

  &:hover {
    color: var(--primary-color);
    scale: 1.05;
  }
}

.header-buttons {
  display: flex;
  gap: 32px;
  font-weight: 600;
}

.header-buttons .btn-login {
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 20px;
}

.header-buttons .btn-register {
  display: flex;
  padding: 23px 14px 23px 23px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 38px;
  font-weight: 600;
  font-size: 20px;
  transition: all 0.3s ease;
  &:hover {
    scale: 1.05;
    filter: brightness(1.1);
  }
}
