<header>
  <div class="header">
    <img src="assets/Logo.svg" alt="Logotipo" class="logo" />
    <nav class="navigation">
      <ul class="list">
        <li><a routerLink="/">Sobre nós</a></li>
        <li><a routerLink="/about">Por que renda fixa?</a></li>
        <li><a routerLink="/contact">FAQ</a></li>
      </ul>
    </nav>

    <div class="header-buttons">
      <button class="btn btn-login" routerLink="/login">
        Log In <img src="assets/arrow-icon.svg" alt="seta para a direta" />
      </button>
      <button class="btn btn-register" routerLink="/register">
        Cadastrar-se
        <img src="assets/arrow-circle-right.svg" alt="seta para a direita" />
      </button>
    </div>
  </div>
</header>