.hero {
  background: url(../../../assets/images/background-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--body-font-color);
  text-align: center;
  max-width: 1024px;
}

.hero h1 span {
  background-color: var(--green-color);
  padding: 0 10px;
  border-radius: 18px;
}

.hero p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--gray-color);
  text-align: center;
  max-width: 800px;
  margin-top: 32px;
}

.hero .btn {
  display: flex;
  padding: 23px 14px 23px 23px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 38px;
  font-weight: 600;
  font-size: 20px;
  margin-top: 50px;
  transition: all 0.3s ease-in-out;
}
