<app-header></app-header>
<div class="landing-page">
  <section class="hero">
    <h1>
      Promovendo o <span>conhecimento</span> financeiro através da tecnologia.
    </h1>
    <p>Aprenda a investir com segurança: Tesouro Direto, CDBs, LCIs e mais.</p>
    <a href="cadastro" class="btn btn-primary">
      Comece agora
      <img src="assets/icons/arrow-circle-right.svg" alt="seta para direita" />
    </a>
  </section>

  <section class="why" id="porque">
    <div class="container">
      <h2 class="section-title">
        Por que devo <span>estudar</span> investimento em renda fixa?
      </h2>
      <button class="btn btn-secondary">
        Comece agora
        <img src="assets/icons/arrow-circle-right.svg" alt="seta para a direita" />
      </button>
    </div>
    <div class="item-container">
      <div class="item">
        <img src="assets/icons/shield.svg" alt="escudo" />
        <h3>Seu dinheiro investido com segurança.</h3>
        <p>
          A renda fixa é a forma mais segura de dar os primeiros passos no mundo
          dos investimentos. Com riscos controlados você aprende a investir sem
          medo e evita erros.
        </p>
      </div>

      <div class="item">
        <img src="assets/icons/pig.svg" alt="cofrinho" />
        <h3>Rende mais que a poupança.</h3>
        <p>
          Ao estudar renda fixa, você entende como sair da poupança e investir
          em opções que realmente valorizam seu dinheiro.
        </p>
      </div>

      <div class="item">
        <img src="assets/icons/bulb.svg" alt="lâmpada" />
        <h3>A base sólida que você precisa.</h3>
        <p>
          Compreender a renda fixa é essencial para qualquer investidor,
          iniciante ou avançado.
        </p>
      </div>
    </div>
  </section>

  <section class="how-it-works">
    <div class="container">
      <h2 class="section-title">Como EnsinaRenda Funciona</h2>
      <div class="content">
        <div class="item" data-aos="zoom-in" data-aos-delay="100">
          <span class="number">1</span>
          <img src="assets/images/image-1.png" alt="lápis e papel" />
          <h3>Direto ao ponto</h3>
          <p>
            Nosso conteúdo é dividido em módulos didáticos, com linguagem clara
            e acessível. Queremos que qualquer pessoa, possa entender o mundo da
            Renda Fixa sem complicações.
          </p>
        </div>

        <div class="item" data-aos="zoom-in" data-aos-delay="200">
          <span class="number">2</span>
          <img src="assets/images/image-2.png" alt="homem com livro" />
          <h3>Testes inteligentes</h3>
          <p>
            Ao final de cada módulo, você fará um teste para verificar se
            realmente aprendeu. Utilizamos inteligência artificial para gerar
            questões precisas e personalizadas, baseadas exatamente no que foi
            ensinado, garantindo uma avaliação justa e eficiente.
          </p>
        </div>

        <div class="item" data-aos="zoom-in" data-aos-delay="300">
          <span class="number">3</span>
          <img src="assets/images/image-3.png" alt="chave e cadeado" />
          <h3>Acesso gratuito</h3>
          <p>
            Basta criar sua conta para acessar todo o conteúdo a qualquer
            momento. Você estuda onde e quando quiser, com liberdade total para
            revisar e evoluir no seu próprio tempo. Tudo isso de maneira
            gratuita.
          </p>
        </div>
      </div>
    </div>
  </section>

  <app-faq></app-faq>

  <app-footer></app-footer>
</div>
